*
  box-sizing: border-box

img,
figure
  margin: 0
  max-width: 100%

ul, ol,
dl dt
  margin: 0

a
  cursor: pointer

.l-navigation,
.l-main
  min-height: 100vh


.l-navigation
  background: $asphalt
  width: rem(200)

  figure
    background: $azalea

    img
      height: 45px

.l-main
  background: $powder
  margin-left: rem(200)