*
  box-sizing: border-box

*:not(pre)>code
  @include code

img,
figure
  margin: 0
  max-width: 100%

ul, ol,
dl dt
  margin: 0

ul, ol
  list-style: none
  padding: 0

a
  cursor: pointer

.l-navigation,
.l-main
  min-height: 100vh


.l-navigation
  background: $b-color-asphalt
  color: $b-color-white
  width: rem(200)

  figure
    background: $b-color-azalea

    img
      height: 45px

  a, a:hover
    color: $b-color-white
    text-decoration: none

  ul li
    @include transition(background .15s ease)
    background: transparent
    border-top: 1px solid rgba($b-color-powder, .35)

    &:first-child
      border: none

    &:hover
      background: lighten($b-color-asphalt, 10%)

    a
      display: block

.l-main
  background: $b-color-powder
  margin-left: rem(200)