---
body_class: "is-card"
---

h1 Content Cards

section.mtl
  .g-row
    .g-col-8
      h2.mbm Types

      p.mbxs
        | There are five different types of content cards, with common / conditional elements displayed according to the type being rendered:

  - design_token("card", category: "card-type").each_with_index do |prop, idx|
    .g-row.mbl
      div class="g-col-#{design_token('card', category: 'card-columns')[idx].value}"
        a.m-card.por.db class="is-#{prop.value}" href="#"
          - if /feature|bio|webinar/.match(prop.value)
            .m-card-image.por style="background-image: url('images/graph-fallback.jpg');"
          .m-card-inner class="#{/bio/.match(prop.value) ? 'tac' : ''}"
            .m-card-inner-content
              - if /headed|headless-square|bio|webinar|conference/.match(prop.value)
                h4
                  = partial "layouts/card-inner-heading", locals: {type: prop.value}
              - elsif /headless-rectangular/.match(prop.value)
                h5
                  = partial "layouts/card-inner-heading", locals: {type: prop.value}
              - elsif /feature/.match(prop.value)
                h3
                  = partial "layouts/card-inner-heading", locals: {type: prop.value}
              - if /conference/.match(prop.value)
                p.mts
                  | Discover the next wave of nursing innovations at the 2016 ANCC National Magnet Conference®. Join more than 9,000 nurses, nursing executives, and health care professionals from top hospitals around the world to share proven best practices and spark your passion for change.
            - unless /bio/.match(prop.value)
              span.m-cta class="#{/headless/.match(prop.value) ? '' : 'mtm'}"
                - if /headless|\Afeature\z/.match(prop.value)
                  i.ellipsis.h4.fr
                    | ...
                - elsif /conference/.match(prop.value)
                  i.fa.fa-external-link.mrxs
                  | Learn more
                - elsif /webinar/.match(prop.value)
                  | Watch now
                  i.fa.fa-angle-right.mlxs
                - else
                  | Read more
                  i.fa.fa-angle-right.mlxs
          - if /headless|\Afeature\z/.match(prop.value)
            .m-card-overlay.poa
              .m-card-overlay-content
                p
                  | Last week, I had the benefit of attending the first annual National Symposium on Value Innovation at Yale, hosted by Yale New Haven Health System (YNHHS) leadership.
              span.m-cta
                i.fa.fa-external-link.mrxs
                | Go to article
          .clear

      .clear

      code.dib.mts
        = prop.value

  .g-row
    .g-col-5
      h5.mtm.mbxs
        | Markup
      = code('slim') do
        |
          .g-col-#
            a.m-card.por.db.is-type-name href="#"
              // If feature or bio
                .m-card-image.por style="background-image: url('images/graph-fallback.jpg');"
              .m-card-inner
                h3 # Feature
                h4 # Headed and headless-square
                h5 # Headless-rectangular
                  // If feature or headless
                    span.m-card-category.ttl.db # Add .fl for feature and headless-rectangular
                      | healthcare informatics
                  // If feature, headless or left-headed
                    time.db # Add .fr for feature and headless-rectangular
                      | May 9, 2016
                  // If feature or headless-rectangular
                    .clear
                  span.m-card-headline
                    | One South Carolina hospital is leveraging a commercialized solution that
                    | brings the value of the Rothman Index directly to nurse managers
                  // If bio
                    span.m-card-role.db.mtxs
                      | Vice President, Marketing and Product Strategy
                span
                  small.dib
                    | Read more

  .g-row
    .g-col-5
      h5.mtm.mbxs
        | Styles
      = code('sass') do
        |
          .m-card
            background: $color-white
            text-decoration: none

            &:before
              @include transition(background-position .35s ease-out)
              background: $color-light-grey url('../images/graph-background.jpg') no-repeat
              content: ''
              display: block

            &:after
              @include transition(transform .2s ease)
              background: $color-canary-yellow
              bottom: 0
              content: ''
              display: inline-block
              position: absolute

            &.is-bio,
            &.is-feature,
            &.is-top-headed,
            &.is-headless-square,
            &.is-headless-rectangular
              &:after
                @include transform-origin(left)
                @include transform(scaleX(0))
                height: 2px
                left: 0
                width: 100%

              &:hover
                &:after
                  @include transform(scaleX(1))

            &.is-feature,
            &.is-headless-rectangular
              .m-card-inner
                padding: $card-horizontal-padding

            &.is-bio,
            &.is-feature
              .m-card-image
                background-position: center
                background-repeat: no-repeat
                background-size: auto 140%

            &[class*="is-headless"]
              &:before
                display: none

            &.is-top-headed
              &:before
                background-position: left 50% bottom 30%
                height: $card-graphic-size
                width: 100%

              &:hover
                &:before
                  background-position: left 55% bottom 30%

              .m-card-inner
                min-height: $card-top-headed-height

            &.is-left-headed
              padding-left: $card-graphic-size

              &:before
                background-position: left 40% bottom 5%
                height: 100%
                left: 0
                position: absolute
                top: 0
                width: $card-graphic-size

              &:after
                @include transform-origin(bottom)
                @include transform(scaleY(0))
                height: 100%
                right: 0
                width: 2px

              &:hover
                &:before
                  background-position: left 45% bottom 5%

                &:after
                  @include transform(scaleY(1))

              .m-card-inner
                min-height: $card-left-headed-height

            &.is-headless-square
              .m-card-inner
                min-height: $card-headless-square-height

            &.is-headless-rectangular
              .m-card-inner
                min-height: $card-headless-rectangular-height

            &.is-bio
              .m-card-image
                height: $b-card-bio-image-height

              .m-card-inner
                @include justify-content(center)
                min-height: $b-card-bio-height
                padding: 0 $b-card-horizontal-padding

            &.is-feature
              .m-card-image
                height: $card-feature-image-height

                &:before
                  @include linear-gradient(-50deg, rgba($color-turquoise,1) 5%, rgba($color-turquoise,0) 55%)
                  background-color: transparent
                  content: ''
                  display: block
                  height: 100%
                  left: 0
                  opacity: .4
                  position: absolute
                  top: 0
                  width: 100%

              .m-card-inner
                min-height: $card-feature-height

            .m-card-inner
              @include display(flex)
              @include flex-direction(column)
              @include justify-content(space-between)
              padding: $card-vertical-padding $card-horizontal-padding

              h3, h4
                font-weight: $font-weight-light

              h5
                font-weight: $font-weight-book

              h3, h4, h5
                color: $color-violet-slate
                line-height: $line-height-multiline-heading

                time
                  font-family: $font-family-serif
                  font-weight: $font-weight-light
                  font-style: italic
                  font-size: $font-size-note
                  margin-bottom: rem(30)

              span
                small
                  border-bottom: 1px solid
                  color: $color-turquoise
                  font-size: $font-size-cta-anchor
                  font-weight: $font-weight-medium
                  letter-spacing: $letter-spacing-cta-anchor

              .m-card-category
                font-family: $font-family-sans-small-caps
                font-size: $font-size-label
                font-weight: $font-weight-book

              .m-card-role
                font-family: $b-font-family-sans
                font-size: $b-font-size-body-small
                font-weight: $b-font-weight-book

